<html>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312">
<Meta http-equiv="progma" content="no-cache">

<STYLE>
TD {
	FONT-FAMILY: "宋体,Courier"; 
	FONT-SIZE: 9pt; 
	COLOR: #000000;
}

.JP {
	FONT-FAMILY: "MS Gothic";
	FONT-SIZE: 9pt;
	COLOR: #000000;
}

.CN {
	FONT-FAMILY: "宋体";
	FONT-SIZE: 9pt;
	COLOR: #000000;
}

.US {
	FONT-FAMILY: "Courier New";
	FONT-SIZE: 9pt;
	COLOR: #000000;
	line-height: 11pt;
}
.SCENE {
	FONT-FAMILY: "黑体";
	FONT-SIZE: 16pt;
	COLOR: #000000;
}
</STYLE>
<body bgcolor=#F6F7EB topmargin=0 leftmargin=0>
<table border="0" cellspacing="1" cellpadding="3" bgcolor="#000000">
	<tr bgcolor="#CCCC99">
		<td align=center width=WIDTH_ID NOWRAP>&nbsp;</td>
		<td align=center width=WIDTH_JP class="JP" NOWRAP>日文</td>
		<td align=center width=WIDTH_CN class="CN" NOWRAP>中文</td>
		<td align=center width=WIDTH_CN class="CN" NOWRAP>对照译文(cn-compare)（无区别不显示）</td>
		</tr>
	<!-- TEMPLATE_ROWS -->
</table>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

</html>