<html>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312">
<Meta http-equiv="progma" content="no-cache">

<STYLE>
TD {
	FONT-FAMILY: "宋体,Courier"; 
	FONT-SIZE: 9pt; 
	COLOR: #000000;
}

.JP {
	FONT-FAMILY: "MS Gothic";
	FONT-SIZE: 9pt;
	COLOR: #000000;
}

.CN {
	FONT-FAMILY: "宋体";
	FONT-SIZE: 9pt;
	COLOR: #000000;
}

.US {
	FONT-FAMILY: "Courier New";
	FONT-SIZE: 9pt;
	COLOR: #000000;
	line-height: 11pt;
}
.SCENE {
	FONT-FAMILY: "黑体";
	FONT-SIZE: 16pt;
	COLOR: #000000;
}
</STYLE>
<body bgcolor=#F6F7EB topmargin=0 leftmargin=0>
<table border="0" cellspacing="1" cellpadding="3" bgcolor="#000000">
	<tr bgcolor="#CCCC99">
		<td align=center width=30 NOWRAP>&nbsp;</td>
		<td align=center width=290 class="JP" NOWRAP>日文</td>
		<td align=center width=290 class="CN" NOWRAP>中文</td>
		</tr>
	<tr bgcolor=#F6F7EB ID="TR_1"  onclick="OnClickRow('1')" >
	<td width=30 bgcolor="#CCCC99">1</td>
	<td width=290 ID="TD_J_1" class="JP">骨の城·あばら部屋</td>
	<td width=290 ID="PREVIEW_1" class="CN">骨之城·肋骨房间</td>
	</tr>
<tr bgcolor=#F6F7EB ID="TR_2"  onclick="OnClickRow('2')" >
	<td width=30 bgcolor="#CCCC99">2</td>
	<td width=290 ID="TD_J_2" class="JP"><font color=#8d8ad3>〓001-1<br>ＡＦ「」を取得！</font></td>
	<td width=290 ID="PREVIEW_2" class="CN">得到ＡＦ「」！</td>
	</tr>
<tr bgcolor=#F6F7EB ID="TR_3"  onclick="OnClickRow('3')" >
	<td width=30 bgcolor="#CCCC99">3</td>
	<td width=290 ID="TD_J_3" class="JP"><font color=#8d8ad3>〓001-2<br>ルクを取得！</font></td>
	<td width=290 ID="PREVIEW_3" class="CN">获得卢克！</td>
	</tr>
<tr bgcolor=#F6F7EB ID="TR_4"  onclick="OnClickRow('4')" >
	<td width=30 bgcolor="#CCCC99">4</td>
	<td width=290 ID="TD_J_4" class="JP"><font color=#8d8ad3>〓001-3<br>「」を取得！</font></td>
	<td width=290 ID="PREVIEW_4" class="CN">获得「」！</td>
	</tr>
<tr bgcolor=#F6F7EB ID="TR_5"  onclick="OnClickRow('5')" >
	<td width=30 bgcolor="#CCCC99">5</td>
	<td width=290 ID="TD_J_5" class="JP"><font color=#8d8ad3>〓001-4<br>「」だ！しかし、持ち物がいっぱいだった。</font></td>
	<td width=290 ID="PREVIEW_5" class="CN">发现「」！■<br>但是道具栏满了。</td>
	</tr>
<tr bgcolor=#F6F7EB ID="TR_6"  onclick="OnClickRow('6')" >
	<td width=30 bgcolor="#CCCC99">6</td>
	<td width=290 ID="TD_J_6" class="JP"><font color=#8d8ad3>〓001-5<br>『』と<br>别れます。<br>もとのセ—ブデ—タに仲間になって<br>からの成長デ—タをセ—ブします。</font></td>
	<td width=290 ID="PREVIEW_6" class="CN">『』离开了。<br>以前储存的数据会被更新。</td>
	</tr>
<tr bgcolor=#F6F7EB ID="TR_7"  onclick="OnClickRow('7')" >
	<td width=30 bgcolor="#CCCC99">7</td>
	<td width=290 ID="TD_J_7" class="JP"><font color=#8d8ad3>〓001-6<br>『』と<br>仲間になってからのデ—タはすべて<br>失われます。よろしいですか？<br>いいえ<br>はい</font></td>
	<td width=290 ID="PREVIEW_7" class="CN">『』<br>以前储存的数据不会被更新。<br>继续吗？<br>否<br>是</td>
	</tr>
<tr bgcolor=#F6F7EB ID="TR_8"  onclick="OnClickRow('8')" >
	<td width=30 bgcolor="#CCCC99">8</td>
	<td width=290 ID="TD_J_8" class="JP">若人よ¨¨<br>ヌシも骨の城にのまれたか¨¨<br>いいじゃろう、案内しようぞ¨¨</td>
	<td width=290 ID="PREVIEW_8" class="CN">孩子啊¨¨<br>你们也被困在¨¨<br>这骨之城里喽¨¨</td>
	</tr>
<tr bgcolor=#F6F7EB ID="TR_9"  onclick="OnClickRow('9')" >
	<td width=30 bgcolor="#CCCC99">9</td>
	<td width=290 ID="TD_J_9" class="JP">道に迷った時は、<br>ワシの仲間に声をかけるのじゃ¨¨<br>よいな¨¨¨¨</td>
	<td width=290 ID="PREVIEW_9" class="CN">如果迷路的话，<br>你们可以去问问我的朋友们¨¨<br>他们会帮助你们出去¨¨¨¨</td>
	</tr>

</table>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

</html><input type=hidden name="SELECT_ID" value="">

<!-- EVENT 通知临时变量 -->
<input type=hidden name="NEXT_ID" value="" >

<script language="Javascript">

function OnClickRow(id)
{
	var id_sel_last;
	var obj;
	
	id_sel_last = document.all("SELECT_ID").value;
	if(id_sel_last != "") 
	{
		
		document.all('TR_'   + id_sel_last).bgColor = "#F6F7EB";
		document.all('TD_J_' + id_sel_last).bgColor = "#F6F7EB";
		
		obj = document.all('PREVIEW_' + id_sel_last);
		if(obj != null)obj.bgColor = "#F6F7EB";
		
		obj = document.all('TD_U_' + id_sel_last);
		if(obj != null)obj.bgColor = "#F6F7EB";

		obj = document.all('TD_COMPARE_' + id_sel_last);
		if(obj != null)obj.bgColor = "#F6F7EB";
	}
	
	document.all('TR_'   + id).bgColor = "#CCCC99";
	document.all('TD_J_' + id).bgColor = "#CCCC99";
	
	obj = document.all('PREVIEW_' + id);
	if(obj != null)obj.bgColor = "#CCCC99";
	
	obj = document.all('TD_U_' + id);
	if(obj != null)obj.bgColor = "#CCCC99";

	obj = document.all('TD_COMPARE_' + id);
	if(obj != null)obj.bgColor = "#CCCC99";
	
	document.all("SELECT_ID").value = id;
}

function monitor_core()
{
	setTimeout("monitor_core()", 100);
	
	var next_id;
	next_id = "" + document.all('NEXT_ID').value;
	

	if (next_id != "")
	{
		var id_sel_last;
		id_sel_last = document.all("SELECT_ID").value;
		
		var obj;
		for(;;)
		{ 
			if(next_id == "+")
				id_sel_last++;
			else
				id_sel_last--;
			
			obj = document.all('TR_' + id_sel_last);
			
			if(obj == null)	break;
			
			if(obj.style.display == "none")continue; 
			
			OnClickRow(id_sel_last);
			
			//最下跟踪方式
			//注意，如果出现了scrollbar, 则高度值就不正确了。现在改为在中间跟踪
			scrollBy(0, obj.getClientRects().item(0).bottom-(document.body.offsetHeight)/2);
			
			//最上跟踪方式
			//scrollBy(0, obj.getClientRects().item(0).top-5);

			break;
		}

		document.all('NEXT_ID').value = "";
	}
}

monitor_core();

</script>