<html>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312">
<Meta http-equiv="progma" content="no-cache">

<STYLE>
TD {
	FONT-FAMILY: "宋体,Courier"; 
	FONT-SIZE: 9pt; 
	COLOR: #000000;
}

.JP {
	FONT-FAMILY: "MS Gothic";
	FONT-SIZE: 9pt;
	COLOR: #000000;
}

.CN {
	FONT-FAMILY: "宋体";
	FONT-SIZE: 9pt;
	COLOR: #000000;
}

.US {
	FONT-FAMILY: "Courier New";
	FONT-SIZE: 9pt;
	COLOR: #000000;
	line-height: 11pt;
}
.SCENE {
	FONT-FAMILY: "黑体";
	FONT-SIZE: 16pt;
	COLOR: #000000;
}
</STYLE>
<body bgcolor=#F6F7EB topmargin=0 leftmargin=0>
<table border="0" cellspacing="1" cellpadding="3" bgcolor="#000000">
	<tr bgcolor="#CCCC99">
		<td align=center width=100 NOWRAP>&nbsp;</td>
		<td align=center width=320 class="JP" NOWRAP>日文</td>
		<td align=center width=290 class="CN" NOWRAP>中文</td>
		</tr>
	<tr bgcolor=#F6F7EB ID="TR_1"  onclick="OnClickRow('1')" >
	<td width=100 bgcolor="#CCCC99">1</td>
	<td width=320 ID="TD_J_1" class="JP">「·····あれ？」</td>
	<td width=290 ID="PREVIEW_1" class="CN">「·····？」</td>
	</tr>
<tr bgcolor=#F6F7EB ID="TR_2"  onclick="OnClickRow('2')" >
	<td width=100 bgcolor="#CCCC99">2</td>
	<td width=320 ID="TD_J_2" class="JP">「ここは·········」</td>
	<td width=290 ID="PREVIEW_2" class="CN">&nbsp;</td>
	</tr>
<tr bgcolor=#F6F7EB ID="TR_3"  onclick="OnClickRow('3')" >
	<td width=100 bgcolor="#CCCC99">3</td>
	<td width=320 ID="TD_J_3" class="JP">「·······？」</td>
	<td width=290 ID="PREVIEW_3" class="CN">&nbsp;</td>
	</tr>

</table>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

</html><input type=hidden name="SELECT_ID" value="">

<!-- EVENT 通知临时变量 -->
<input type=hidden name="NEXT_ID" value="" >

<script language="Javascript">

function OnClickRow(id)
{
	var id_sel_last;
	var obj;
	
	id_sel_last = document.all("SELECT_ID").value;
	if(id_sel_last != "") 
	{
		
		document.all('TR_'   + id_sel_last).bgColor = "#F6F7EB";
		document.all('TD_J_' + id_sel_last).bgColor = "#F6F7EB";
		
		obj = document.all('PREVIEW_' + id_sel_last);
		if(obj != null)obj.bgColor = "#F6F7EB";
		
		obj = document.all('TD_U_' + id_sel_last);
		if(obj != null)obj.bgColor = "#F6F7EB";

		obj = document.all('TD_COMPARE_' + id_sel_last);
		if(obj != null)obj.bgColor = "#F6F7EB";
	}
	
	document.all('TR_'   + id).bgColor = "#CCCC99";
	document.all('TD_J_' + id).bgColor = "#CCCC99";
	
	obj = document.all('PREVIEW_' + id);
	if(obj != null)obj.bgColor = "#CCCC99";
	
	obj = document.all('TD_U_' + id);
	if(obj != null)obj.bgColor = "#CCCC99";

	obj = document.all('TD_COMPARE_' + id);
	if(obj != null)obj.bgColor = "#CCCC99";
	
	document.all("SELECT_ID").value = id;
}

function monitor_core()
{
	setTimeout("monitor_core()", 100);
	
	var next_id;
	next_id = "" + document.all('NEXT_ID').value;
	

	if (next_id != "")
	{
		var id_sel_last;
		id_sel_last = document.all("SELECT_ID").value;
		
		var obj;
		for(;;)
		{ 
			if(next_id == "+")
				id_sel_last++;
			else
				id_sel_last--;
			
			obj = document.all('TR_' + id_sel_last);
			
			if(obj == null)	break;
			
			if(obj.style.display == "none")continue; 
			
			OnClickRow(id_sel_last);
			
			//最下跟踪方式
			//注意，如果出现了scrollbar, 则高度值就不正确了。现在改为在中间跟踪
			scrollBy(0, obj.getClientRects().item(0).bottom-(document.body.offsetHeight)/2);
			
			//最上跟踪方式
			//scrollBy(0, obj.getClientRects().item(0).top-5);

			break;
		}

		document.all('NEXT_ID').value = "";
	}
}

monitor_core();

</script>