<html>
<meta http-equiv=Content-Type content=text/html; charset=gb2312>
<STYLE>

TD {
	FONT-FAMILY: "宋体,Courier"; 
	FONT-SIZE: 9pt; 
	COLOR: #000000;
}

.JP {
	FONT-FAMILY: "MS Gothic";
	FONT-SIZE: 9pt;
	COLOR: #000000;
}

.CN {
	FONT-FAMILY: "宋体";
	FONT-SIZE: 9pt;
	COLOR: #000000;
}

.US {
	FONT-FAMILY: "Courier New";
	FONT-SIZE: 9pt;
	COLOR: #000000;
	line-height: 11pt;
}
.SCENE {
	FONT-FAMILY: "黑体";
	FONT-SIZE: 16pt;
	COLOR: #000000;
}
</STYLE>
<body bgcolor=#F6F7EB topmargin=0 leftmargin=0>
<table border="0" cellspacing="1" cellpadding="3" bgcolor="#000000">
	<tr bgcolor="#CCCC99">
		<td width=WIDTH_ID align=left NOWRAP>&nbsp;</td>
		<td width=WIDTH_JP align=left NOWRAP><input type=text style="width:100%; background-color:#CCCC99;border-style:none;FONT-FAMILY:宋体;FONT-SIZE: 9pt;" readonly value="１２３４５６７８９０１２３４５６７８９０１２３４５６７８９０１２３４５６７８９０" border=0></td>
		<td width=WIDTH_US align=left NOWRAP>&nbsp;</td>
		<td width=WIDTH_CN align=left NOWRAP><input type=text style="width:100%; background-color:#CCCC99;border-style:none;FONT-FAMILY:宋体;FONT-SIZE: 9pt;" readonly value="１２３４５６７８９０１２３４５６７８９０１２３４５６７８９０１２３４５６７８９０" border=0></td>
		
		</tr>
</table>
</html>